html, body {
  margin: 0;
  padding: 0;
}

.margin-right {
  margin-right: auto;
}


.link-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 20px;
}

ul {
  padding-top: 30px
  margin: 20px 0px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;

}

li {
  margin-left: 20px;
  margin-right: 20px;
}

.padding-right {
  padding-right: 0;
  margin-right: 5px;
}

a {
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: black;
}

li a:hover {
  border-bottom: 1.5px solid rgb(80,80,80); 
}

.content {
  display: flex;
}

img {
  max-width: 100vw;
  max-height: 100vh; 
}













