

/* NAVIGATION BAR */
.margin-right {
  margin-right: auto;
  margin-left: 20px;
}

.padding-right-corner {
  margin-right: 20px;
}


.link-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-top: 20px;
}

ul.link-list {
  padding-top: 30px
  margin: 20px 0px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;

}

.padding-right {
    padding-right: 0;
    margin-right: 10px;
}

.padding-left {
  padding-left: 0;
  margin-left: 8px;
}

a {
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: black;
}


li a:hover {
  border-bottom: 1.5px solid rgb(80,80,80); 
}

body {
  margin: 0px;
}

/* HEADER */

#banner {
  text-align: center;
  background-image: url(images/leaf.jpg);
  background-size: cover;
  padding: 100px;
  color: white;
}
#banner h1 {
  font-family: inherit;
    font-size: 50px;
    color: white;
}
#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}


/* CONTENT */

form {
  margin: 0;
  width: 100vw;
}

/* PART1 */

.part1 {
      display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 100%;
    margin: 100px 0px;
}

.section {
      display: flex;
    justify-content: flex-start;
    width: 300px;
    margin: auto;
    background-color: #8FD5A6;
    margin: 20px;
}

input {
   padding: 7px;
    font-size: 15px;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  font-size: 18px; 
}

.section ul, li {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 20px;
  padding-left: 20px;
}


li {
  list-style: none;
  padding-left: 20px;
}

/* PART2 */

.part2 {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: stretch;
}

.first-column img{
height: 100%;
width: 100%;
}


.second-column {
margin-left: 20px;
}

input[type="text"] {
  display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
}

input[type="email"] {
  display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
}

input[type="number"] {
  display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
}

input[type="radio"] {
  margin: 0 8px 25px 18px;
}

input[type="radio"]:first-child {
  margin-left: 0 ;
}

input:focus {
  background: white;
  outline: none;
}

.shipping {
  margin: 50px 0;
}

.section2 {
  width: 65%;

}


h6 {
  font-size: 10px;
  line-height: 15px;
  font-weight: normal;
  margin-top: 30px;
  letter-spacing: 1.5px;
  text-align: center;
}

h6.create {
  margin-top: 10px;
}



.box {
      width: 68%;
    height: 40px;
    background: lightblue;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-align: center;
}
.button:hover {
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}